body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.content {
	position:fixed;
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.content img {
	visibility: hidden;
	width: 100%;
	height: 100%;
}

.warning {
	visibility: visible;
	font-size: 50%;
	margin: auto;
	padding: 0;
}
